<!-- app/views/shared/_header.html.erb -->
<header>
  <nav>
    <div class="nav-wrapper">
      <a href="<%= root_path %>" class="brand-logo">Joola</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="<%= root_path %>">Home</a></li>
        <li><a href="<%= root_path %>">Auteurs</a></li>
        <li><a href="<%= root_path %>">Livres</a></li>
        <li><a href="<%= root_path %>">Catégories</a></li>
        <li><a href="<%= new_user_session_path %>">Connexion</a></li>
        <li><a href="<%= new_user_registration_path %>">Je m'inscris</a></li>
      </ul>
    </div>
  </nav>
</header>
